<div class="tool-bar navbar navbar-default">
  <div class="container-fluid">
    <div class="nav-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#main-list" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="main-list">
    <ul class="nav navbar-nav">
      <li class="col-lg-6">
        <input class="path input" type="text" ng-model="configs.path" place-holder="Please choose a folder">
      </li>
      <li>
        <a class="load" ng-click="loadImages()">load</a>
        <a class="generate" ng-click="generate()">generate</a>
        <a class="config">config</a>
      </li>
    </ul>
  </div>
  <!-- <input class="path" type="text" ng-model="configs.path" place-holder="Please choose a folder">
  <input type="button" class="load" value="load" ng-click="loadImages()">
  <input class="generate" type="button" value="generate" ng-click="generate()">
  <input class="config" type="button" value="config"> -->
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <span class="input-group-addon" id="image-path">files</span>
      <input type="text" name="path" id="path" class="form-control">
    </div>
  </div>
  <div class="list-view panel-body">
    <ul>
      <li ng-repeat="item in imageList">
        <img ng-src="{{item.src}}" alt="">
        <span class="file-name" ng-bind="item.imageName"></span>
      </li>
    </ul>
  </div>
</div>
