.icon {
  background-image: url("../images/sprite.png");
}
.icon-login-head {
  background-position: -0px -0px;
  width: 26px;
  height: 26px;
}
.icon-Digg-01-32 {
  background-position: -0px -26px;
  width: 40px;
  height: 40px;
}
.icon-Google-32 {
  background-position: -0px -66px;
  width: 40px;
  height: 40px;
}
.icon-LinkedIn-32 {
  background-position: -0px -106px;
  width: 40px;
  height: 40px;
}
.icon-Pinterest-32 {
  background-position: -0px -146px;
  width: 40px;
  height: 40px;
}
.icon-RSS-32 {
  background-position: -0px -186px;
  width: 40px;
  height: 40px;
}
.icon-Twitter-Bird-32 {
  background-position: -0px -226px;
  width: 40px;
  height: 40px;
}
.icon-Vimeo-32 {
  background-position: -0px -266px;
  width: 40px;
  height: 40px;
}
.icon-Facebook-32 {
  background-position: -0px -306px;
  width: 40px;
  height: 40px;
}
.icon-Yahoo-01-32 {
  background-position: -0px -346px;
  width: 40px;
  height: 40px;
}
.icon-YouTube1-32 {
  background-position: -0px -386px;
  width: 40px;
  height: 40px;
}
.icon-changtong {
  background-position: -0px -426px;
  width: 124px;
  height: 40px;
}
.icon-WordPress-32 {
  background-position: -0px -466px;
  width: 40px;
  height: 40px;
}
.icon-dingding-logo {
  background-position: -0px -506px;
  width: 43px;
  height: 42px;
}
.icon-ace-logo {
  background-position: -0px -548px;
  width: 43px;
  height: 43px;
}
.icon-console-d-logo {
  background-position: -0px -591px;
  width: 143px;
  height: 45px;
}